


<div id="home-div" >
    <div id="title-div">
        <img src="https://images.pexels.com/photos/4600798/pexels-photo-4600798.jpeg?auto=compress&cs=tinysrgb&h=627&fit=crop&w=1200" alt="">
        <h1>"Wycieczkownia" Travel agency </h1>
        
    </div>
    <div id="contact-div">
        <h4>Wycieczkownia</h4>
        <p>675-xxx-xx3</p>
        <p>wycieczkownia@gmail.com</p>
        <p>Sosnowiec</p>
        <p>ul. Jastrzębia 3</p>
    </div>
    <img src="../../assets/mapa.png" id="map" alt="">
    
</div>