
app-sidebar{
  background-color: #f8f5f5;
    width: 100%;
    
    position: fixed;
    border-bottom: solid 10px #f4efef;
    z-index: 3;
}
div{
  top: 110px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}



  @media(max-width: 1600px) {
    app-trips{
        width:800px;
    }
  }
  @media(max-width: 1100px) {
    app-trips{
        width:400px;
    }
  }
  @media(max-width:950px){
    div{
      top:160px;
    }
  }