<div class="sidebar-div">
    <h1>WYCIECZKOWNIA </h1>
    <div class="nav-buttons">
    <!-- <p [ngStyle]="{'background-color': totalReserved<10 ? '#ed5c5a' : '#4d7c8a'}">Total trips reserved: {{totalReserved}}</p> -->
    <button routerLink="/" routerLinkActive="active"> Home</button>
    <button routerLink="/trips" routerLinkActive="active">Trips</button>
    <button routerLink="/cart" routerLinkActive="active">🛒 | {{totalReserved}} | {{totalPrice | currency}} </button>
    <button routerLink="/add-trip" routerLinkActive="active">Add Trip</button>
    <button routerLink="/history" routerLinkActive="active">Trip History</button>
    <button id="username">Nick</button>
    </div>

    
        
   

</div>


