body{
    display: flex;
    
    font-family: sans-serif;
    background-color: rgb(244, 239, 239);
    color: #132a4d;
    margin: 0;
    font-family: 'Nunito', sans-serif;

}
app-root{
    
    position: relative;
    width: 100%;
}